body{
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Pushster', cursive;
    margin: 00px;
}
h1{
    color: blue;
}
.h1-mna{
    color: red;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 20px;
}
.channel-area{
    width: 40%;
    margin-left: 5%;
    margin-right: 10%;
    padding-left: 25px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    
}
.youtube-area{
    background-image: url(image/channel-area.png);
    background-repeat: no-repeat;
    background-position: left;
}
#tech-tuber-boss{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#mna-motivation{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(43, 255, 0), rgb(255, 0, 242));
    border-image-slice: 1;
}
.half-width img{
    width: 50%;
}
#youtube{
    text-align: center;
    color: blue;
}
#channel-name{
    color: red;
    text-align: center;
}
#slogan{
    color: green;
}
.full-slogan{
    font-size: 13px;
    text-align: right;
    padding-right: 7px;
}
.more-details{
    font-size: 15px;
    text-decoration: none;
    padding: 5px 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}
.activity{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.instagram{
    font-size: 15px;
    text-decoration: none;
    padding: 5px 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 200);
    border-radius: 5px;
}
.copyright{
    text-align: center;
}